﻿@{
	var currentUser = User.Identity.Name;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>@ViewData["Title"]</title>
	<link href="/css/styles.css" rel="stylesheet" />

	<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/3.0.1/css/buttons.bootstrap5.min.css">
	<link href="/css/ss.css" rel="stylesheet">
	<link href="/css/program.css" rel="stylesheet" />
	<!-- Syncfusion ASP.NET Core controls styles -->
	<link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/25.1.35/fluent.css" />
	<!-- Syncfusion ASP.NET Core controls scripts -->
	<script src="https://cdn.syncfusion.com/ej2/25.1.35/dist/ej2.min.js"></script>
</head>
<body class="sb-nav-fixed">
	<nav class="sb-topnav navbar navbar-expand">
		<!-- Navbar Brand-->

		<b class="navbar-brand ps-3" id="headerWord">Welcome @currentUser</b>

		<!-- Sidebar Toggle-->
		<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars" style="color:white"></i></button>
		<!-- Navbar-->
		<div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"></div>
		<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
			<li class="nav-item">
				@if (User.IsInRole("admin"))
				{
					<a class="nav-link" asp-action="profile" asp-controller="admin">
						<span class="me-2">
							<i class="fas fa-user"></i>
						</span>
						@User.Identity.Name
					</a>
				}
				else if (User.IsInRole("student"))
				{
					<a class="nav-link" asp-action="Index" asp-controller="Student">
						<span class="me-2">
							<i class="fas fa-user"></i>
						</span>
						@User.Identity.Name
					</a>
				}
				else if (User.IsInRole("instructor"))
				{
					<a class="nav-link" asp-action="Details" asp-asp-controller="instructor" asp-route-Id="">
						<span class="me-2">
							<i class="fas fa-user"></i>
						</span>
						@User.Identity.Name
					</a>
				}else if (User.IsInRole("StudentAffairs"))
                {
                    <a class="nav-link" asp-action="ViewProfile" asp-controller="StudentAffairs">
                        <span class="me-2">
                            <i class="fas fa-user"></i>
                        </span>
                        @User.Identity.Name
                    </a>
                }
                else if (User.IsInRole("Security"))
                {
                    <a class="nav-link" asp-action="ViewProfile" asp-controller="Security">
                        <span class="me-2">
                            <i class="fas fa-user"></i>
                        </span>
                        @User.Identity.Name
					</a>
				}
				else
				{
					<a class="nav-link" asp-action="Index" asp-controller="Home">
                        <span class="me-2">
                            <i class="fas fa-user"></i>
                        </span>
                        @User.Identity.Name
                    </a>
				}
			</li>

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="fas fa-bars"></i> <!-- Icon for the dropdown -->
				</a>
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
					<li><a class="dropdown-item" asp-action="Index" asp-controller="Home">Home</a></li>
					<li><hr class="dropdown-divider"></li>
					<li><a class="dropdown-item" asp-action="logout" asp-controller="Account">Logout</a></li>
				</ul>
			</li>
		</ul>

	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion" id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav">
						<br />
						@if (User.IsInRole("admin"))
						{
							<a class="nav-link m-1 selected" asp-controller="Admin" asp-action="Profile">
								<div class="sb-nav-link-icon">
									<i class="fas fa-user"></i>
								</div>
								Profile
							</a>

							<a class="nav-link m-1" asp-controller="Admin" asp-action="GetAllStudents">
								<div class="sb-nav-link-icon">
									<i class="fas fa-graduation-cap"></i>
								</div>
								Students
							</a>

							<a class="nav-link m-1" asp-controller="Admin" asp-action="GetEmployees">
								<div class="sb-nav-link-icon">
									<i class="fas fa-user-tie"></i>
								</div>
								Employee
							</a>
							<a class="nav-link m-1" asp-action="Index" asp-controller="Instructor">
								<div class="sb-nav-link-icon">
									<i class="fas fa-chalkboard-teacher"></i>
								</div>
								Instructor
							</a>

							<a class="nav-link m-1" asp-action="Index" asp-controller="Program">
								<div class="sb-nav-link-icon">
									<i class="fas fa-book"></i>
								</div>
								Program
							</a>

							<a class="nav-link m-1" asp-controller="Admin" asp-action="GetAllIntakes">
								<div class="sb-nav-link-icon">
									<i class="fas fa-calendar"></i>
								</div>
								Intake
							</a>

							<a class="nav-link m-1" asp-controller="Track" asp-action="Index">
								<div class="sb-nav-link-icon">
									<i class=" fas fa-book"></i>
								</div>
								Tracks
							</a>
							<div class="sb-sidenav-menu-heading" style="color:#001F3D">Attendance</div>
							<a class="nav-link collapsed m-1" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
								<div class="sb-nav-link-icon">	<i class="fa-solid fa-clipboard-user"></i></div>
								Attendance
								<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
							</a>
							<div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
								<nav class="sb-sidenav-menu-nested nav">

									<a class="nav-link m-1" asp-controller="Attendance" asp-action="ShowStudentsAttendance">
										Student Daily 
									</a>
									<a class="nav-link m-1" asp-controller="Attendance" asp-action="StudentsRangeAttendance">
										Student In Date Range
									</a>
									<a class="nav-link m-1" asp-controller="Attendance" asp-action="ShowStaffAttendance">
										Staff Daily
									</a>
									<a class="nav-link m-1" asp-controller="Attendance" asp-action="StaffRangeAttendance">
										Staff In Date Range
									</a>
								</nav>
							</div>

						}
						else if (User.IsInRole("student"))
						{
                            <a class="nav-link m-1" asp-action="Index" asp-controller="Home">
								<div class="sb-nav-link-icon"><i class="fa-solid fa-house-user"></i></div>
                            Home
                        </a>
                        <a class="nav-link collapsed m-1" asp-action="Index" asp-controller="Student">
								<div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
                            Profile
                        </a>
							<a class="nav-link m-1" asp-action="GetAllPermission" asp-controller="Student">
								<div class="sb-nav-link-icon"><i class="fa-solid fa-file-lines"></i></div>
                            Permission
                        </a>
							<a class="nav-link m-1" asp-action="ShowAttendence" asp-controller="Student">
								<div class="sb-nav-link-icon"><i class="fa-solid fa-clipboard-user"></i></div>
                            Attendance
                        </a>
							@* <a class="nav-link m-1" asp-action="ShowSchedule" asp-controller="Student">
								<div class="sb-nav-link-icon"><i class="fa-regular fa-calendar-days"></i></div>
								Schedule
							</a> *@
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									<div class="sb-nav-link-icon"><i class="fa-regular fa-calendar-days"></i></div>
									Schedule
								</a>
								<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
									<li><a class="dropdown-item" asp-action="ShowWeeklySchedule" asp-controller="Student">Weekly</a></li>
									<li><hr class="dropdown-divider"></li>
									<li><a class="dropdown-item" asp-action="ShowAllSchedules" asp-controller="Student">All</a></li>
								</ul>
							</li>


						}
						else if (User.IsInRole("instructor") && (User.IsInRole("Supervisor"))) 
						{
							<a class="nav-link m-1" asp-action="Details" asp-asp-controller="instructor" asp-route-Id="">
								<div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
								Profile
							</a>

							<a class="nav-link collapsed m-1" asp-action="Edit" asp-controller="instructor">
								<div class="sb-nav-link-icon"><i class="fas fa-user-edit"></i></div>
								Edit Profile
							</a>

							<a class="nav-link collapsed m-1" asp-action="TrackSchedule" asp-controller="instructor">
								<div class="sb-nav-link-icon"><i class="fas fa-calendar-alt"></i></div>
								Track Shedulue
							</a>

							<a class="nav-link collapsed m-1" asp-action="Permission" asp-controller="instructor">
								<div class="sb-nav-link-icon"><i class="fas fa-lock"></i></div>
								Permission
							</a>

							<a class="nav-link collapsed m-1" asp-action="AddWeeklyShedule" asp-controller="instructor">
								<div class="sb-nav-link-icon"><i class="fas fa-calendar-edit"></i></div>
								Add Schedule
							</a>
							<a class="nav-link collapsed m-1" asp-action="Attandence" asp-controller="instructor">
								<div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
								Show Attandence
							</a>


						}
						else if (User.IsInRole("StudentAffairs"))
						{
							<a class="nav-link m-1 selected" asp-controller="StudentAffairs" asp-action="ViewProfile">
								<div class="sb-nav-link-icon">
									<i class="fas fa-user"></i>
								</div>
								Profile
							</a>
							<a class="nav-link m-1 selected" asp-controller="StudentAffairs" asp-action="EditProfile">
								<div class="sb-nav-link-icon">
									<i class="fas fa-user"></i>
								</div>
								EditProfile
							</a>

							<a class="nav-link m-1 selected" asp-controller="StudentAffairs" asp-action="GetStudents">
								<div class="sb-nav-link-icon">
									<i class="fas fa-user"></i>
								</div>
								View All Students & Edit Student Profile
							</a>

							<a class="nav-link m-1 selected" asp-controller="StudentAffairs" asp-action="ShowAttendance">
								<div class="sb-nav-link-icon">
									<i class="fas fa-user"></i>
								</div>
								ShowAttendance
							</a>
							<div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
								<nav class="sb-sidenav-menu-nested nav">

									<a class="nav-link m-1" asp-controller="Attendance" asp-action="ShowStudentsAttendance">
										Student Daily
									</a>
									<a class="nav-link m-1" asp-controller="Attendance" asp-action="StudentsRangeAttendance">
										Student In Date Range
									</a>
									
								</nav>
							</div>
						}
						else if (User.IsInRole("instructor"))
						{
							<a class="nav-link m-1" asp-action="Details" asp-asp-controller="instructor" asp-route-Id="">
								<div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
								Profile
							</a>

							<a class="nav-link collapsed m-1" asp-action="Edit" asp-controller="instructor">
								<div class="sb-nav-link-icon"><i class="fas fa-user-edit"></i></div>
								Edit Profile
							</a>
							<a class="nav-link collapsed m-1" asp-action="Attandence" asp-controller="instructor">
								<div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
								Show Attandence
							</a>

						}
						else if (User.IsInRole("Security"))
						{
							<a class="nav-link m-1" asp-controller="Security" asp-action="ViewProfile">
								<div class="sb-nav-link-icon">
									<i class="fas fa-user"></i>
								</div>
								Profile
							</a>

							<a class="nav-link m-1" asp-controller="Security" asp-action="MyAttendance">
								<div class="sb-nav-link-icon">
									<i class="fas fa-user"></i>
								</div>
								My Attendance
							</a>

							<a class="nav-link m-1" asp-controller="Security" asp-action="Index">
								<div class="sb-nav-link-icon">
									<i class="fas fa-graduation-cap"></i>
								</div>
								Students Attendance
							</a>

							<a class="nav-link m-1" asp-controller="Security" asp-action="StaffAttendance">
								<div class="sb-nav-link-icon">
									<i class=" fas fa-user-tie"></i>
								</div>
								Staff Attendance
							</a>
						}
						else
						{
						}

					</div>
				</div>
				<div class="sb-sidenav-footer">
					<div class="small"> </div>
				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main class="pb-3 mt-3">
				@RenderBody()
			</main>

		</div>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
	<script src="https://cdn.datatables.net/2.0.3/js/dataTables.bootstrap5.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="/js/scripts.js"></script>
	<ejs-scripts></ejs-scripts>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
	<script src="https://cdn.datatables.net/buttons/3.0.1/js/dataTables.buttons.js"></script>
	<script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.dataTables.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
	<script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.html5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.print.min.js"></script>
	<script>
		var text = document.getElementById("headerWord").textContent.split(" ");
		text[1] = text[1].charAt(0).toUpperCase() + text[1].slice(1);
		document.getElementById("headerWord").textContent = text.join(" ");

	</script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
