@{
	

}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>@ViewData["Title"]</title>
	<link href="/css/styles.css" rel="stylesheet" />
	<link href="/css/ss.css" rel="stylesheet">
	<link href="/css/program.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/3.0.1/css/buttons.dataTables.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
</head>
<body class="sb-nav-fixed">
	<nav class="sb-topnav navbar navbar-expand">
		<!-- Navbar Brand-->
		
		<!-- Sidebar Toggle-->
		<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars" style="color:white"></i></button>
		<!-- Navbar-->
		<div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"></div>
		<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
					<li><a class="dropdown-item" href="#!">Home</a></li>
					<li><hr class="dropdown-divider" /></li>
					<li><a class="dropdown-item" asp-action="logout" asp-controller="Account">Logout</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion" id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav">
						<a class="nav-link m-1" asp-action="index" asp-asp-controller="Track" >
							<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
							AllTracks
						</a>
						@* <a class="nav-link collapsed m-1" asp-action="Edit" asp-controller="instructor" asp-route-Id="@Model.Id">
							<div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
							Edit Profile
						</a>

						<a class="nav-link collapsed m-1" asp-action="TrackSchedule" asp-controller="instructor" asp-route-Id="@Model.Id">
							<div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
							Track Shedulue
						</a>

						<a class="nav-link collapsed m-1" asp-action="Permission" asp-controller="instructor" asp-route-Id="@Model.Id">
							<div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
							Permission
						</a>

						<a class="nav-link collapsed m-1" asp-action="AddWeeklyShedule" asp-controller="instructor" asp-route-Id="@Model.Id">
							<div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
							Add Schedule
						</a> *@
						
					</div>
				</div>
				<div class="sb-sidenav-footer">
					<div class="small"> </div>
				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main class="pb-3 mt-3">
				@RenderBody()
			</main>
			<footer class="py-4 bg-light mt-auto">
			</footer>
		</div>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="/js/scripts.js"></script>
	<ejs-scripts></ejs-scripts>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
	<script src="https://cdn.datatables.net/buttons/3.0.1/js/dataTables.buttons.js"></script>
	<script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.dataTables.js"></script>
	<scriptsrc ="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></scriptsrc>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
	<script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.html5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.print.min.js"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
