@model List<Student>
@{
    ViewData["Title"] = "GetStudents";
}

<h1>GetStudents</h1>

<table class="table table-bordered">
    <thead>
        <tr>
             <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Faculty</th>
            <th>Program</th>
            <th>Intake</th>
            <th>Track</th>
            <th>Register Status</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>@student.Password</td>
                <td>@student.Faculty</td>
                <td>@student.Program.Name</td>
                <td>@student.Intake.Name</td>
                <td>@student.Track.Name</td>
                <td>@student.RegisterationStatus</td>

                <td><a asp-action="EditStudentProfile" asp-controller="StudentAffairs" asp-route-id="@student.Id">Edit Profile</a></td> 
            </tr>
        }


    </tbody>


</table>


