@model List<Attendance>
@{
    ViewData["Title"] = "ShowAttendancePost";
    Layout = "~/Views/Shared/SharedLayout.cshtml";
}
<style>

    .tstyle {
        text-align: center;
        width: 90%;
        margin: 20px;
        border-radius: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
    }

    td:hover {
        cursor: pointer;
    }

    .sb-nav-fixed #layoutSidenav #layoutSidenav_content
    {
        padding-left:100px;
    }
    .py-4
    {
        padding-top: 0 !important;
        padding-bottom: 0px!important;
    }

</style>
<div class="container">
<h1> Attendance for StudentAffairs:@Model[0].User.Name</h1>
        <table  class="table table-hover display tstyle mt-3">
    <thead style="background-color:#001F3D;color:white">
                <tr>
                    <th>Date</th>
                    <th>arrival Time</th>
                    <th>end Time</th>
                    <th>attendance Staus</th>
                </tr>
            </thead>
            <tbody id="attendanceTableBody">
                @foreach (var attendance in Model)
{

                    <tr>
                        <td>@attendance.Date</td>
                        <td>@attendance.ArrivalTime</td>
                        <td>@attendance.LeaveTime</td>
                        <td>@attendance.AttendanceStatus</td>
                    </tr>
                    }

                </tbody>
            </table>
         
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#fetchAttendanceBtn').click(function () {
                var startDate = $('#startDate').val();
                var endDate = $('#endDate').val();

                // Check if both start date and end date are selected
                if (startDate && endDate) {
                    $.ajax({
                        url: '@Url.Action("ShowAttendancePost", "StudentAffairs")',
                        type: 'POST',
                        data: { startDate: startDate, endDate: endDate },
                        success: function (data) {
                            $('#attendanceTableBody').html(data);
                        },
                        error: function () {
                            alert('Error fetching attendance records.');
                        }
                    });
                } else {
                    alert('Please select both start and end dates.');
                }
            });
        });
    </script>
}


   

