@model List<ITIProgram>
@{
    ViewData["Title"] = "ShowProgramInstructors";
    Layout = "~/Views/Shared/_ProgramLayout.cshtml";
}
<style>
    .tstyle {
        text-align: center;
        width: 90%;
        margin: 20px;
        border-radius: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
    }
</style>

<div class="container-fluid w-75 text-center">
    <h1 style="color:#15859c;margin-left:15px;">Program Instructors</h1>
    <table class="table table-bordered tstyle">
        <thead style="background-color:#001F3D;color:white">
            <tr>
                <th>Program</th>
                <th>Instructors</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var program in Model)
            {
                @if (program.Instructors.Any())
                {
                    <tr>
                        <td rowspan="@program.Instructors.Count">@program.Name</td>
                        <td>@program.Instructors.First().Name</td>
                    </tr>
                    @foreach (var instructor in program.Instructors.Skip(1))
                    {
                        <tr>
                            <td>@instructor.Name</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>@program.Name</td>
                        <td>No Instructors  available</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

